<ion-header>
    <ion-navbar>
        <ion-title text-center>
            TodoList
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
  <ion-row>
    <ion-item>
        <ion-input [(ngModel)]="todo" placeholder="Todo" type="text"></ion-input>
    </ion-item>
    <ion-col>
    <button *ngIf="!status" ion-button full (click)="add()">ADD</button>

    <button *ngIf="status" ion-button full color="secondary" (click)="update()">Update</button>
    </ion-col>
    <ion-col *ngIf="status">
    <button ion-button full color="danger" (click)="cancel()">Cancel</button></ion-col>
  </ion-row>

  <ion-row>
     <ion-col>
       <ion-list >
           <ion-item-sliding *ngFor="let t of todos">
            <ion-item>
                <ion-checkbox (ionChange)="statuscomplete(t)"></ion-checkbox>
                <ion-label>{{t}}</ion-label>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(t)">
                    <ion-icon name="trash"></ion-icon> Delete
                </button>
                <button ion-button color="primary" (click)="edit(t)">
                    <ion-icon name="create"></ion-icon> Edit
                </button>
            </ion-item-options>
        </ion-item-sliding>
        </ion-list>
     </ion-col>
  </ion-row>
  <ion-item>
      <ion-label fixed color="secondary"> Completed </ion-label>
  </ion-item>
<ion-row>
     <ion-col>
       <ion-list >
           <ion-item-sliding *ngFor="let c of completed">
            <ion-item>
                <ion-checkbox checked="true" (ionChange)="statuscancel(c)"></ion-checkbox>
                <ion-label id="complete">{{c}}</ion-label>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deletecomplete(c)">
                    <ion-icon name="trash"></ion-icon> Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
        </ion-list>
     </ion-col>
  </ion-row>

</ion-grid>
   
    
    
</ion-content>